.container {
  font-size: clamp(6rem, 20vw, 16rem);
  font-weight: 700;
  font-family: monospace;
  text-align: center;
  margin: 4rem;
  transition: all 0.35s ease-in-out;
}

.container:hover {
  filter: drop-shadow(0 0 1rem var(--luzsombra-da-borda-um))
    drop-shadow(0 0 1.5rem var(--luzsombra-da-borda-dois));
  transform: scale(1.1);
}
