.menu {
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  gap: 2.2rem;
  margin-top: 6.4rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-decoration: none;
  background: var(--primary);
  color: var(--gray-900);
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 1rem #226fa2;
}

.menuLink svg {
  width: 3.2rem;
  height: 3.2rem;
}

.menuLink:hover {
  color: var(--luz-e-sombra);
  background-color: var(--luz-e-sombra-fundo);
  filter: drop-shadow(0 0 1rem var(--luzsombra-da-borda-um))
    drop-shadow(0 0 2rem var(--luzsombra-da-borda-dois));
  transform-origin: center;
  transform: scale(1.2);
}

.menuLink:active {
  color: var(--luz-e-sombra);
  background-color: var(--luz-e-sombra-fundo);
  transform: scale(1.2) translateY(1rem);
  box-shadow: 0 0.5rem #226fa2;
}

.menu a:nth-child(2) svg,
.menu a:nth-child(3) svg {
  transition: transform 0.5s ease;
}

.menu a:nth-child(2):active svg,
.menu a:nth-child(3):hover svg {
  transform: rotate(-360deg);
  transform-origin: center;
}
