.menu {
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  gap: 2.2rem;
  margin-top: 6.4rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-decoration: none;
  background: var(--primary);
  color: var(--gray-900);
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  color: var(--primary);
  background-color: var(--gray-100);
  filter: drop-shadow(0 0 10px rgb(104, 53, 118))
  drop-shadow(0 0 2rem rgb(42, 152, 247));
  padding: 1.5rem;
}

.menuLink svg {
  width: 3.2rem;
  height: 3.2rem;
}
