.logo {
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.35s ease-in-out;
  text-align: center;
}

.logoLink:hover {
  color: var(--luz-e-sombra-fundo);
  transform: scale(1.2);
  transform-origin: center;
  filter: drop-shadow(0 0 0.5rem var(--luzsombra-da-borda-um))
    drop-shadow(0 0 1rem var(--luzsombra-da-borda-dois));
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
  transition: transform 0.6s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.logoLink:hover svg {
  scale: 1.1;
  transform: rotate(360deg);
}
