.footerContainer {
  color: var(--gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerContent {
  text-align: center;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.footerContainer a {
  border: 0.1rem solid var(--gray-600);
  box-sizing: border-box;
  border-radius: 0.4rem;
  padding: 0.5rem 3.4rem;
  color: inherit;
  text-decoration: none;
}

.footerContainer a:hover {
  background-color: var(--gray-700);
  color: var(--primary);
  border-color: var(--primary);
  transform: scale(1.05);
}

.footerContainer a:active {
  transform: scale(0.95);
}

.footerContainer p:hover {
  color: var(--primary);
  transform: scale(1.05);
}