.button {
  margin-top: 3rem;
  width: 33%;
  height: 4rem;
  background-color: var(--primary);
  color: var(--gray-900);
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.15s ease-in;
  box-shadow: 0 1rem #226fa2;
}

.button:hover {
  color: var(--luz-e-sombra);
  background-color: var(--luz-e-sombra-fundo);
  filter: drop-shadow(0 0 1rem var(--luzsombra-da-borda-um))
    drop-shadow(0 0 4rem var(--luzsombra-da-borda-dois));
  transform: scale(1.2);
  box-shadow: 0 1rem #226fa2;
}

.button:active {
  box-shadow: 0 0.4rem #226fa2, inset 0 0.2rem 0.4rem rgba(22, 142, 148, 0.5);
  transform: translateY(1.2rem) scale(1.2);
}

.red {
  background-color: var(--error);
  color: var(--gray-900);
  box-shadow: 0 1rem #691443;
}

.red:hover {
  background-color: rgb(208, 87, 87);
  color: var(--gray-900);
  box-shadow: 0 1rem #833661;
}
